body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-box {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

#input-field {
  width: 50%;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

#search-btn {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0;
}

.red {
  color: orangered;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  padding: 5px;
  background-color: honeydew;
  width: 200px;
}
.green {
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  padding: 5px;
  background-color: gray;
  width: 200px;
  position: absolute;
  bottom: 80px;
  left: 70px;
}

.green2 {
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  padding: 5px;
  background-color: gray;
  width: 200px;
  /* position: absolute;
  bottom: 80px;
  left: 300px; */
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;

  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  position: relative;
  height: 550px;
  padding: 10px;
  transition: 0.6s;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  background-color: white;
}

.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}

.btn-div {
  position: absolute;
  bottom: 20px;
  left: 70px;
}

#details-btn {
  background-color: lightskyblue;
}
#details-btn:hover {
  background-color: grey;
  color: lightskyblue;
}

#addToCart-btn {
  background-color: lightsalmon;
}
#addToCart-btn:hover {
  background-color: grey;
  color: lightsalmon;
}
.product-image {
  width: 150px;
  height: 150px;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: white;
}
.cart-main {
  padding-right: 30px;
}

#rating-div {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 200px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  color: black;
  display: none;
  z-index: 100;
}

#modal-box {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

#img-div img {
  width: 200px;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(3px);
  display: none;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
